/EduardoCavalcanti/nbproject/private/
/EduardoCavalcanti/build/
/Asteroids/nbproject/private/
/Asteriods-Desktop/nbproject/private/
/Asteriods-Desktop/build/
/OpenCV/nbproject/private/
/OpenCV/build/
/JavaApplication10/nbproject/private/
/EduardoCavalcanti/dist/